**/*\~
**/*Release.launch
**/language.settings.xml

.cache
compile_commands.json

/log-analyzer
/stm32-cli
/stm32-flash

/firmwares/*.elf
/STM32PlatformCode/**/*.cyclo
/STM32PlatformCode//**/*.d
/STM32PlatformCode/**/*.su
/STM32PlatformCode/**/*.o
/STM32PlatformCode/**/*.map
/STM32PlatformCode/**/*.elf
/STM32PlatformCode/**/*.bin
/STM32PlatformCode/**/*.list
!/STM32PlatformCode/**/objects.list

tools/log-analyze/**/*.a
!.github
